html, body {
    height: 100%;
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 100vh;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 1px solid black;
    color: black;
    font-size: 24px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.button:hover, .button:focus {
    background-color: black;
    color: white;
}
